.App {
  text-align: center;
}

.product-icon {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
.action-icon {
  height: 40px;
}
.white {
  color: white;
}
.bottom {
  vertical-align: bottom;
}
.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 70px;
}

.App-header {
  background-color: #eeeff5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(12, 11, 11);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
